@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AzarMehrMonospaced-San";
  src: url("/fonts/AzarMehrMonospaced_Sans_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AzarMehrMonospaced-San";
  src: url("/fonts/AzarMehrMonospaced_Sans_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* خط الواجهة الرئيسي: Cairo */
@font-face {
  font-family: "Cairo";
  src: url("/fonts/Cairo-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
